body{
    margin: 0;
}
header{
    text-align: center;
}

.flex-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width img{
    width: 50%;
    margin-top: 30px;
}

.half-width{
    width:50%;
    border: 10px 30px;
    margin-left: 100px;  
}

.half-width p{
    text-align: justify;
    margin-right: 40px;
}

.mission-2022{
    font-size: 25px;
    border-left: 4px solid orangered;
    margin-top: 30px;

}

.mission-2022 h1{
    margin-left: 8px;
    font-weight: 500;  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}

#orange-color{
    color: orange;
}

.explore-button{
    text-decoration: none;
    background-image: linear-gradient(red);
    opacity: 90%;
    color: whitesmoke;
    font-weight: 500;
    background-color: rgb(255, 72, 0);
    padding: 5px 20px;
    border-radius: 2px;
}

#my-mission{
    text-align: center;
    font-weight: 700; 
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
    
.part2-box{
    width: 33.33%;
    margin-left: 4%;
    margin-right: 4%;
    padding-left: 1%;
    padding-right: 1%;
    border: 0px solid ;
    border-radius: 5px;
    text-align: justify;
    padding-bottom: 1%;
}

.part2-box img{
    width: 300px;
    margin: auto;
    display: block;
}

.box1{
    background-color: rgb(226, 253, 252);
}
.box2{
    background-color: rgb(252, 229, 252);
}
.box3{
    background-color: #fff5e8;
}

#part-3{
    padding:10px 0px 0px 85px;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 200px; 
}


.half-width1{
    width: 70% 30%;
    border: 10px 30px;
    margin-left: 100px; 
    padding-bottom: 200px;
}

.half-width1 img{
    width: 50%;
    margin-right: 0%;
    
}
.part4{
    padding: 0px 0px 0px ;
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: 50% 85%;
    background-size: 200px; 
}

#red-color{
    color: orangered;
}

#corona-h1{
    color: rgb(238, 137, 23);
    font-style: normal;
    font-weight: 700;
    
}

.corona{
    width: 50%;
    padding-top: 13px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 70px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 5px 5px 30px black;   
}

.stayhome-img{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    margin: 0px 0px;
    padding: 10px 0px 10px 10px;
}